@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat',sans-serif;
}

.my{
    color:aliceblue;
    background-color: blueviolet;
    
}

.l{
padding: 12px;
width: 250px;
margin-left: 50px;
box-shadow: 0 4px 9px rgba(0,0, 0, 0.6);

}

.card{
    margin-top: 30px;
    margin-left: 60px;
}

.my:hover{
    background-color: brown;
    transition: 2s ease-in-out;
    
    
    
    
}




   

nav{
display: flex;
padding: 20px 60px;
justify-content: space-between;
align-items: center;
}

nav .logo span{
    width: 150px;
    font-size: 25px;
    
    letter-spacing: 2px;
    font-weight: bolder;
}
nav .logo {
    width: 150px;
    letter-spacing: 2px;
    font-weight: bolder;
}
   
.logo:hover{
    color: crimson;
    font-size: 25px;
    transition: .2s;
}

.logo:hover span:nth-child(1){
    margin-right: 15px;
    transition: 0.2s;
}
.logo:hover span:nth-child(2){
    margin-right: 15px;
    transition: 0.2s;
}
.logo:hover span:nth-child(1)::after{
   content: 'oopesh';

}
.logo:hover span:nth-child(2)::after{
    content: 'ha';
}

nav a{
    text-decoration: none;
    color: black;

}

.navbar ul li {
    list-style: none;
    display: inline-block;
    padding: 12px 8px;
}
.navbar ul li:hover {
    font-weight: 900;
    transition: 0.1s;
}

.nav{
    flex: 1;
    text-align: right;
}

.box{
    width: 84%;
    margin: 60px auto;
    padding: 60px;
    grid-gap: 50px;
    gap: 50px;
    background-color: #fff;
    box-shadow: 0 10px 30px rgb(0 0 0 / 10%);
    border-radius: 16px;
    display: flex;
}
.box img{
    width: 150px;
    height: 150px;
    border-radius: 50px;
}

#list{
    line-height: 3;
    padding-left: 600px;
}

.multiples{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
    margin-top: 50px;
    margin-left: 70px;
    }


    .cardog {
        padding: 15px;
        background-color: #fff;
        width: 180px;
        box-shadow: 0 2px 7px rgb(0 0 0 / 20%);
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }
.card1-top {
    color: rgba(0,0,0,.6);
    font-size: 14px;
    text-transform: capitalize;
}
.card2-mid {
    font-size: 22px;
    font-weight: 700;
    margin:10px 0;
}
.card3-bottom {
    color: black;
    font-size: 15px;
}

.bg{
    background-color: blueviolet;
}